/*
 * Replace this with your own classes
 *
 * e.g.
 * .home {
 * }
*/
.grid-row {
   background-color: yellow;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  grid-gap: 20px 20px;
  justify-content: flex-start;
  align-items: baseline;
}
